/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
    width: 50vw;
}

legend h2 {
    margin-bottom: 10px;
}

.income-section {
    border: 2px solid #11882a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.income-section h3 {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.expenses-section {
    border: 2px solid #d66161;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.expenses-section h3 {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

#download-pdf {
    background-color: #626964;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

#download-pdf:hover {
    background-color: #09350c;
}

.language {
    text-align: center;
}

/* Form Styles */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Totals Column */
.total-group > label {
    font-size: 15pt;
}

#total-income,
#total-expenses,
#balance {
    padding: 10px;
}

.total-column {
    position: fixed; 
    right: 0; 
    top: 145px; 
    background-color: #f0f8ff;
    padding: 20px;
    margin: 0; 
    border-radius: 8px;
    width: 30vw; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: auto; 
    max-height: 80vh; 
    overflow-y: auto; 
    z-index: 1000;
}

footer > p {
    text-align: center;
}

.delete-total-group {
    visibility: hidden;
}

.cta-open {
    color: white;
}

.dark {
    display: none;
}

.sorry-msg {
    display: none;
}

/* Pour les grands écrans, ordinateurs */
@media (max-width: 1700px) {
    .total-column {
        width: 40vw; 
        top: 110px; 
        right: 0; 
    }
    
    .total-column.hidden {
        opacity: 1; 
    }

    .delete-total-group {
        display: none;
    }
}

/* Pour les écrans de tablettes en mode paysage
   Exemples : iPad Pro en mode paysage, grandes tablettes */
@media (max-width: 992px) {
    .grid-container {
        margin: 30px 0 0 0;
        grid-template-columns: 1fr; 
    }

    header h1 {
        font-size: 15pt;
        text-align: center;
    }

    .total-column {
        width: 50vw; 
        top: 110px; 
        right: 0; 
    }
    
    .total-column.hidden {
        opacity: 1; 
    }

    .delete-total-group {
        display: none;
    }
}

/* Pour les écrans de petites tablettes, grands smartphones en mode portrait
   Exemples : iPad Mini, iPhone Plus, Google Pixel 6/7 */
@media (max-width: 768px) {
    html {
        height: 460vh;
        overflow-x: hidden;
    }

    header h1 {
        width: 100vw; 
    }

    footer {
        margin: 0 0 300px 0;
    }

    .total-column {
        position: fixed; 
        top: 400px; 
        right: 0; 
    }

    .total-column:not(.hidden) {
        display: block;
        opacity: 1; 
    }
    
    .cta-open {
        position: fixed;
        right: 0;
        bottom: 132px;
        width: 40px;
        height: 45vh;
        background-color: #3498db; 
        border-radius: 5px 0 0 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 15px;
        font-weight: bold;
        line-height: 0.1;
        margin: 0;

    }
    
    .hidden {
        display: none;
    }

    .delete-total-group {
        visibility: visible;
        width: 20px;                
        height: 20px;               
        background-color: #db3934;   
        border-radius: 50%;           
        display: flex;                     
        position: relative;           
        margin: 0; 
        left: 95%;
    }
    
    .total-column.hidden {
        opacity: 0; 
    }

    .delete-total-group {
        visibility: visible;
        width: 20px;                
        height: 20px;               
        background-color: #db3934;   
        border-radius: 50%;           
        display: flex;                     
        position: relative;           
        margin: 0; 
        left: 95%;
    }

    .cross {
        font-size: 12px;  
        font-weight: bold;             
        color: rgb(255, 255, 255);                  
        position: absolute;  
        top: -16%;
        left: 50%;                    
        transform: translate(-50%, -50%); 
    }
}

/* Pour les écrans de petits smartphones 
   Exemples : iPhone 12 Mini, Galaxy S8/S9 */
@media (max-width: 576px) {
    html {
        height: 570vh;
    }

    header h1 {
        position: absolute;
        font-size: 15pt;
        text-align: center;
        margin: 0 0 0 -20px;
    }

    .grid-container {
        margin: 60px 0 0 0;
    }

    .total-column {
        display: none;
        width: 90vw; 
        top: 450px; 
        padding: 15px; 
        position: fixed; 
        right: 0; 
    }
    
    .total-column:not(.hidden) {
        display: block;
        opacity: 1; 
    }
    
    .cta-open {
        position: fixed;
        right: 0;
        bottom: 132px;
        width: 40px;
        height: 45vh;
        background-color: #3498db; 
        border-radius: 5px 0 0 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 14px;
        font-weight: bold;
        line-height: 0.2;
        margin: 0;

    }
 
    .dark {
        display: none;
        position: fixed; 
        right: 0; 
        top: 720px; 
        padding: 20px;
        margin: 0; 
        width: 100vw; 
        height: 50vh; 
        max-height: 80vh; 
        z-index: 1000;
        background-color: rgba(77, 77, 77, 0.918);
        opacity: 0; 
    }
    
    .dark:not(.hidden) {
        display: block;
        opacity: 1; 
    }
    
    .hidden {
        display: none;
    }

    .delete-total-group {
        visibility: visible;
        width: 20px;                
        height: 20px;               
        background-color: #db3934;   
        border-radius: 50%;           
        display: flex;                     
        position: relative;           
        margin: 0; 
        left: 95%;
    }

    .cross {
        font-size: 12px;  
        font-weight: bold;             
        color: rgb(255, 255, 255);                  
        position: absolute;  
        top: 45%;
        left: 50%;                    
        transform: translate(-50%, -50%); 
    }
}

/* Pour les écrans de très petits smartphones
   Exemples : iPhone SE (2020), iPhone 5, Galaxy A01 */
@media (max-width: 376px) {
    html {
        height: 720vh;
    }

    body {
        margin: -23px 0 0 0;
    }

    header h1 {
        position: absolute;
        font-size: 15pt;
        text-align: center;
        margin: 0 0 0 -20px;
    }

    .grid-container {
        margin: 60px 0 0 0;
    }

    .form-group input {
        font-size: 0.9em; 
    }

    footer {
        margin: 0 0 250px 0;
    }

    .total-column {
        display: none;
        width: 90vw; 
        top: 220px; 
        height: 40vh;
        padding: 20px; 
        position: fixed; 
        right: 0; 
        overflow: hidden;
    }
    
    .total-column:not(.hidden) {
        display: block;
        opacity: 1; 
    }
    
    .cta-open {
        position: fixed;
        right: 0;
        bottom: 132px;
        width: 40px;
        height: 35vh;
        background-color: #3498db; 
        border-radius: 5px 0 0 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 16px;
        font-weight: bold;
        line-height: 0.6;
    }
    
    .cta-open p {
        margin: 0;
    }
    
    .dark {
        display: none;
        position: fixed; 
        right: 0; 
        top: 510px; 
        padding: 20px;
        margin: 0; 
        width: 100vw; 
        height: 50vh; 
        max-height: 80vh; 
        z-index: 1000;
        background-color: rgba(77, 77, 77, 0.918);
        opacity: 0; 
    }
    
    .dark:not(.hidden) {
        display: block;
        opacity: 1; 
    }
    
    .hidden {
        display: none;
    }

    .delete-total-group {
        visibility: visible;
        width: 20px;                
        height: 20px;               
        background-color: #db3934;   
        border-radius: 50%;           
        display: flex;                     
        position: relative;           
        margin: 0; 
        left: 95%;
    }

    .cross {
        font-size: 12px;  
        font-weight: bold;             
        color: rgb(255, 255, 255);                  
        position: absolute;  
        top: -10%;
        left: 50%;                    
        transform: translate(-50%, -50%); 
    }
}

/* Pour les écrans de plus petits smartphones) 
   Exemples : iPhone SE (1ère génération), Galaxy J1 */
@media (max-width: 345px) {
    html {
        height: 400vh;
    }

    body {
        margin: -23px 0 0 0;
    }

    header h1 {
        position: absolute;
        font-size: 15pt;
        text-align: center;
        margin: 0 0 0 -20px;
    }

    .grid-container {
        margin: 60px 0 0 0;
    }

    .total-column {
        width: 90vw; 
        top: 280px; 
        padding: 15px; 
    }

    .form-group input {
        font-size: 0.9em; 
    }

    footer {
        margin: 0 0 250px 0;
    }

    .total-column {
        display: none;
        width: 90vw; 
        top: 450px; 
        padding: 15px; 
        position: fixed; 
        right: 0; 
    }
    
    .total-column:not(.hidden) {
        display: block;
        opacity: 1; 
    }
    
    .cta-open {
        position: fixed;
        right: 0;
        bottom: 132px;
        width: 40px;
        height: 30vh;
        background-color: #3498db; 
        border-radius: 5px 0 0 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 16px;
        font-weight: bold;
        line-height: 0.6;
    }
    
    .cta-open p {
        margin: 0;
    }
    
    .dark {
        display: none;
        position: fixed; 
        right: 0; 
        top: 720px; 
        padding: 20px;
        margin: 0; 
        width: 100vw; 
        height: 50vh; 
        max-height: 80vh; 
        z-index: 1000;
        background-color: rgba(77, 77, 77, 0.918);
        opacity: 0; 
    }
    
    .dark:not(.hidden) {
        display: block;
        opacity: 1; 
    }
    
    .hidden {
        display: none;
    }

    .delete-total-group {
        visibility: visible;
    }
}

/* Pour les écrans de très petits appareils 
   Exemples : iPhone 5S, Galaxy Ace 4 */
@media (max-width: 321px) {
    html {
        display: none;
    }
}

/* iPhone SE (2020) */
@media (min-height: 667px) {
    .cta-open {
        height: 50vh;
        line-height: 0.8;
    }
}

/* Google Pixel 6a */
@media (min-height: 780px) {
    .cta-open {
        height: 50vh;
        line-height: 0.8;
    }
}

/* IPhone 6/7/8 Plus */
@media (min-height: 736px) {
    .cta-open {
        height: 50vh;
        line-height: 0;
    }

    .total-column {
        width: 50vw; 
        top: 280px; 
        padding: 15px; 
    }

    .dark {
        display: none;
    }
}

/* iPhone X */
@media (min-height: 812px) {
    .cta-open {
        height: 40vh;
        line-height: 0.8;
    }

    .total-column {
        width: 50vw; 
        top: 260px; 
        padding: 15px; 
    }
}

/* iPhone 12, 13, 14 */
@media (min-height: 844px) {
    .cta-open {
        height: 50vh;
        line-height: 0.1;
    }
}

/* iPhone 12/13/14 Pro Max */
@media (min-height: 926px) {
    .cta-open {
        height: 50vh;
        line-height: 0.8;
    }
}

/* Samsung Galaxy S21/S22/S23 */
@media (min-height: 900px) {
    .cta-open {
        height: 50vh;
        line-height: 0.8;
    }
}

/* OnePlus 9/10 Pro */
@media (min-height: 915px) {
    .cta-open {
        height: 45vh;
        line-height: 0;
    }
}

/* iPad Mini (6e génération) */
@media (min-height: 926px) {
    .cta-open {
        height: 40vh;
        line-height: 0;
    }
}

/* Pour les grands écrans, tablettes */
@media (min-height: 1024px) {
    .delete-total-group {
        display: none;
    }

    .total-column {
        top: 190px; 
        width: 23vw; 
    }

    

}